.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color: #272727;
}
.not-found-img {
  width: 400px;
}
.not-found-heading{
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 25px;
}
.not-found-para{
    color: #f8fafc;
    font-family: 'Roboto';
    font-size: 17px;
}